.callnow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background: url('../../../assets/callbg.jpg') no-repeat center center;
  background-size: cover;
}

.callnow-box {
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  width: 90%;
  max-width: 600px;
}

.callnow-title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 800;
  color: #E88D18;
  margin-bottom: 10px;
}

.callnow-subtitle {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
}

/* Media Queries */

@media (max-width: 1024px) {
  .callnow-container {
    padding: 30px 15px;
    margin-bottom: 20px;
  }

  .callnow-title {
    font-size: 24px;
  }

  .callnow-subtitle {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .callnow-container {
    padding: 20px 10px;
    margin-bottom: 15px;
  }

  .callnow-title {
    font-size: 20px;
  }

  .callnow-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .callnow-title {
    font-size: 18px;
  }

  .callnow-subtitle {
    font-size: 14px;
  }

  .callnow-box {
    padding: 20px;
  }
}
