.about {
    height: 50vh;
    width: 100%;
    background-image: url('../../assets/back4.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;  
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about h1 {
    color: white;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.about ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    color: white;
}

.about ul li {
    cursor: pointer;
    transition: color 0.3s ease;
}

.about ul li:first-child:hover  {
    color: #E88D18;
}

@media (max-width: 768px) {
    .about h1 {
      font-size: 27px;
    }
  }
  @media (max-width: 480px) {
    .about h1  {
      font-size: 23px;
    }
  }